<div>
    <ul class='lists'>
      <% @mie.each do |mie| %>
        <li class='list'>
            <div class=''>
              <h3 class='deplo__title'>
                <%= mie.deplo_title %>
              </h3>
            </div>
        </li>
      <% end %>
    </ul>
</div>