<div class="">
  <div class="">
    <% @deplos.each do |deplo|%>
    <div class="kinki_map">
      <img src="/assets/map-kinki.png" alt="近畿地図" id="kinki">
      <%= link_to('三重県', deplo_deplomies_path(@mies), class: "area_btn mie") %>
      <%= link_to('滋賀県', deplo_deploshigas_path(@shigas), class: "area_btn shiga") %>
      <span class="area_btn kyoto" id="kyoto">京都府</span>
      <span class="area_btn osaka" id="osaka">大阪府</span>
      <span class="area_btn hyogo" id="hyogo">兵庫県</span>
      <span class="area_btn nara" id="nara">奈良県</span>
      <span class="area_btn wakayama" id="wakayama">和歌山県</span>
    </div>
  <% end %>
  </div>
</div>
