<div class="">

  <div class="">
    <div class="top_header">
      <div>
        <h2 class="">
          DEPLO
        </h2>
        <p class="">
          〜地域情報発信アプリ〜
        </p>
      </div>
      <div class="nav_right">
        <%#link_to 'ログアウト', hoge, class:"back-btn" %>
        <%= link_to '新規投稿', new_deplo_path, class:"back-btn" %>
    </div>
  </div>

  <div class="">
    <div class="kinki_map">
      <img src="/assets/map-kinki.png" alt="近畿地図" id="kinki">
      <span class="area_btn mie" id="mie">三重県</span>
      <span class="area_btn shiga" id="shiga">滋賀県</span>
      <span class="area_btn kyoto" id="kyoto">京都府</span>
      <span class="area_btn osaka" id="osaka">大阪府</span>
      <span class="area_btn hyogo" id="hyogo">兵庫県</span>
      <span class="area_btn nara" id="nara">奈良県</span>
      <span class="area_btn wakayama" id="wakayama">和歌山県</span>
    </div>
  </div>
</div>
