<div class="deplo__contents">
  <h3>検索結果</h3><br>
<ul class="deplo__lists">
<% @deplos.each do |deplos| %>
  <li>
    <%= link_to deplos.deplo_title, deplo_path(deplos.id) %>
  </li>
<%end%>
</ul>
<br>
<%= link_to 'トップページに戻る', root_path %>
</div>