<div>
  <h3><%= Prefecture.find(5)[:name] %>のDEPLO一覧</h3>
    <% @hyogos.each do |hyogo| %>
      <ul class='lists'>
        <li class='list'>
          <div class=''>
            <h3 class='deplo__title'>
              <%= hyogo.deplo_title %>
            </h3>
          </div>
        </li>
      </ul>
    <% end %>
</div>