<div>
  <h3><%= Prefecture.find(6)[:name] %>のDEPLO一覧</h3>
    <% @naras.each do |nara| %>
      <ul class='lists'>
        <li class='list'>
          <div class=''>
            <h3 class='deplo__title'>
              <%= nara.deplo_title %>
            </h3>
          </div>
        </li>
      </ul>
    <% end %>
</div>