/* 共通 */

.body-detail{
  display: flex;
}

.link-btn{
  padding: 1vmin;
  margin: 1vmin;
  border: 1px solid rgb(167, 160, 160);
  border-radius: 5px;
  background-color: #f0f0f0;
  font-size: 2.5vmin;
}



/* ヘッダー */

.top_header{
  height: 200px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 80%;
  height: 80%;
  margin: 10px;
}

.nav_right{
  padding: 0 20px 0 20px;
  width: 30vw;
}

.right-content{
  width: 100%;
  height: 80%;
}

.acount-btn{
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.nickname-btn{
  width: 100%;
  padding: 0 0 0 20px;
  margin-bottom: 20px;
}

.nickname-btn a{
  text-decoration: none;
  padding: 2px;
  font-size: 2.5vmin;
  color: black;
}

.log-btn{
  width: 50%;
  padding-top: 20px;
  margin: 20px;
}

.log-btn a{
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  font-size: 3vmin;
  color: black;
}





/*検索*/
.btn-field{
  height: 50%;
  width: 20%;
}

.search_bar_contents{
  width: 40vw;
}

.search_btn {
  height: 50px;
  width: 100%;
}

.search-fields{
  display: flex;
  height: auto;
}

.search-field{
  height: 50px;
  width: 40vw;
  margin: 20px;
}

.search-form{
  margin: 0 20px 0 0;
  width: 95%;
}

.search-select{
  height: 100%;
  width: 100%;
}

.select-fields{
  display: flex;
  width: 40vw;
}

.select-field{
  height: 50%;
  width: 80%;
  margin: 0 20px;
}





/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 150px;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}






/* 一覧表示機能 */
.index-contents{
  padding: 10px;
}


.deplo__contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.deplo__contents>.content {
  justify-content: space-between;
}

.deplo__contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.deplo__lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.deplo__lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: white;
}

.deplo__img__content {
  position: relative;
}

.deplo__box__img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.deplo__img {
  width: 33vh;
  height: 33vh;
}

.deplos__text {
  width: 50%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.deplos__info__text {
  width: 50%;
  height: 140px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}






/* 詳細表示機能 */

.show-padding{
  padding: 1vh;
  width: 100%;
}

.show-text{
  background-color: white;
  color: black;
  font-size: 2.5vmin;
}

.show-text a{
  text-decoration: none;
}

.show-details{
  margin-bottom: 1vmin;
}

.other__images {
  display: flex;
}

.other__image {
  margin-right: 10px;
}

.no__img {
  width: 33vh;
  height: 33vh;
  border: 1px solid black;
  display: flex;
}

.comment-contents{
  margin: 1vh;
  padding: 1vh;
  font-size: 2.5vmin;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid black;
}